<% tab "member" %>
<div class="bg-box">

  <div class="member-set">
    <%= link_to orders_path, :class => 'member-link' do %>
      訂單查詢
    <% end %>

    <%= link_to users_path, {:class => 'member-link underline', :style => 'float: right;'} do %>
      帳號設定
    <% end %>
  </div>

  <div class="login">

    <div style="margin: 60px 0px;font-size: 13px;">
      個人資料安全認證<br><br><br>為了保障你的資料安全，必須再次填入密碼驗證。
    </div>

    <%= form_for(@user, url: confirm_users_path, html: { method: :post }) do |f| %>

      <div class="field" style="margin-bottom:60px">
        密碼
        <%= f.password_field :password, autocomplete: "off", :class => "form-style", style: "margin-left:40px", class: "form-style" %>
      </div>

      <div class="actions submit-button" style="margin-bottom: 10px; text-align: center;">
        <%= f.submit "送出", style: "width: 50%;background-color: #59544f;margin-bottom: 20px",class: "login-submit" %>
      </div>
    <% end %>

  </div>
</div>
