<div class="col-sm-10 col-sx-12" style="padding-top: 20px">
  <% @products.each do |product| %>
    <div class="col-sm-3 col-xs-6" style="padding-left: 7px; padding-right: 7px">

      <div class="add-cart-show">
        
        <div class="clearfix">
          <div class="color-list" style= "float:left">
            <p style="margin-top: 18px; margin-left: 15px;">顏色</p>
            <div style="margin-left: 10px; margin-top: 5px; width: 160px">
              <% @firstColor = product.products.pluck(:color).first %>
              <% product.products.pluck(:color).uniq.each do |color| %>
                <div id=<%= color %> class="colorbox" style="background-color: #<%= color %>; float: left; margin-left: 5px;"></div>
              <% end %>
            </div>
          </div> 

          <div style="width: 150px; margin-left: 10px; float: left">
            <p style="margin-top: 18px;">尺寸</p>
            <div style="margin-top: 5px;">
              <% product.products.where(color: @firstColor).pluck(:size).uniq.each do |color| %>
                <div class="sizebox"><%= color %></div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="clearfix">
          <div class="color-list" style= "float:left">
            <p style="margin-top: 18px; margin-left: 15px;">數量</p>
            <div style="margin-left: 10px; margin-top: 5px; width: 160px">
              <input type='button' value='-' style="font-size:15px; color: #848378;" id='minus' class='qtyminus'/>

              <input type='text' value=1 style='color:#59544f;' id='number' class='qty' />

              <input type='button' value='+' style="color: #848378;" id='plus' class='qtyplus'/>
            </div>
          </div> 

          <div style="width: 150px; margin-left: 10px; float: left">
            <p style="margin-top: 18px;">庫存量：</p>
            <div class="add-cart-btn"><p>加入購物車</p></div>
          </div>
        </div>

        <div class="trangle-before"></div>
        <div class="trangle-after"></div>
      </div>

      <%= link_to product_path(product) do %>
        <%= image_tag product.main_image, width: "100%" %>
      <% end %>
      <div class="add-cart">
        加入購物車
      </div>
      
      <div style="padding-left: 2px; margint-top: 5px">
        <%= link_to product_path(product), class: 'link' do %>
          <%= product.name %><br>
          <hr style="border-color: white; margin: 3px 0px;">
          $<%= product.price %><br>
        <% end %>
      </div>

      <% if false %>
      <% product.products.each do |i| %>
        <div class="colorbox" style="background-color: #<%= i.color %>;"></div>
        <%= i.size %>
        <%= i.stock %>
         <%= link_to "Add to Cart", add_to_cart_product_path(i), method: :post, class: "btn btn-info", :remote => true %>
      <% end %>
      <% end %>

     
      <br>
    </div>
  <% end %>
</div>

<script type="text/javascript">

  $(document).on('click', function(e) {
    if($('.add-cart-show:visible').closest('.add-cart-show').length) {
      if(!$(e.target).closest('.add-cart-show').length){
        $('.add-cart-show').hide();
        if($(e.target).closest('.add-cart').length){
          $('.add-cart-show').hide();
          $(e.target).prevAll().show();
        }
      }
    }else if($(e.target).closest('.add-cart').length){
      $(e.target).prevAll().show();
    }
  });
</script>

<style type="text/css">
  .add-cart {
    margin-bottom: 10px;
    width: 100%;
    background-color: #c893fa;
    font-size: 14px;
    color: #ffffff;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
  }

  .add-cart-show {
    right: -50px;
    bottom: 140px;
    position: absolute;
    width: 335px;
    height: 180px;
    background-color: #ffffff;
    font-size: 16px;
    color: #59544f;
    border: 0.1px solid;
    border-color: #c1c0bc;
    opacity: 0.9;
    z-index: 1;
    display: none;
  }

  .trangle-before {
    position: absolute;
    bottom: -39px;
    border-style: solid;
    border-color: transparent;
    border-top-color: white;
    border-width: 20px;
    left: 49%;
    margin-left: -21px;
    z-index: 20;
  }

  .trangle-after {
    position: absolute;
    bottom: -40px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #59544f;
    border-width: 20px;
    left: 49%;
    margin-left: -21px;
    opacity: 0.9;
  }

  .colorbox {
    border: 1px solid white;
    height: 25px;
    width: 25px;
    padding: 2px;
  }

  .colorbox:first-of-type, .sizebox:first-of-type {
    outline: 1px solid black;
  }

  .sizebox {
    float: left;
    width: 28px;
    height: 25px;
    background-color: #eee;
    margin-right: 5px;
    text-align: center;
    line-height: 25px;
    border: 1px solid white;
  }
</style>