<% tab "member" %>
<div class="bg-box">

  <div class="member-set">
    <%= link_to orders_path, :class => 'member-link underline' do %>
      訂單查詢
    <% end %>

    <%= link_to users_path, {:class => 'member-link', :style => 'float: right;'} do %>
      帳號設定
    <% end %>
  </div>

  <table class="order-table" align="center" style="text-align: center; margin-bottom: 20px; margin-top: 30px">
    <tbody>
      <tr style="background-color: #5f0ac7; color: #fff; height: 15px">
        <td>訂單編號</td>
        <td>訂單日期</td>
        <td>訂單狀態</td>
        <td>付款金額</td>
      </tr>

      <% @orders.each do |order| %>

        <tr style="height: 40px">
          <td><span style="color:#fff; background-color: #59544f;"><%= link_to order.sn, order_path(order.id), style: "color: white; text-decoration: none;" %></span></td>
          <td><%= order.created_at.strftime("%Y/%m/%d") %></td>

          <% if order.payment_status == "not_paid" %>
            <td>待付款</td>
          <% elsif order.shipping_status == "not_shipped" %>
            <td>出貨中</td>
          <% else %>
            <td><%= order.shipping_status %></td>
          <% end %>

          <td><%= order.amount %></td>
        </tr>

      <% end %>
    </tbody>
  </table>

  <% @orders.each do |order| %>

    <% if order.payment_status == "not_paid" %>
      <% Payment::PAYMENT_METHODS.each do |method| %>

        <% link_to method, checkout_spgateway_order_path(order, payment_method: method),target: :_blank, method: :post, class: "btn" %>
      <% end %>

    <% end %>
  <% end %>

</div>
