<% tab "member" %>
<div class="bg-box">

  <div class="member-set">
    <%= link_to orders_path, :class => 'member-link underline' do %>
      訂單查詢
    <% end %>

    <%= link_to users_path, {:class => 'member-link', :style => 'float: right;'} do %>
      帳號設定
    <% end %>
  </div>
  
  <div class="clearfix order-table" style="margin: 0px auto">
    <div style="margin-bottom: 20px;"
      <span style="color: #110b0a; padding-top: 10px;">訂單資訊</span><br>
    </div>
    
    <div class="mobile-order" style="margin-bottom: 20px;">
      <span style="padding-right: 5%;float:left;">收件人姓名</span>
      <span style="padding-right: 5%;float:left;width: 150px; margin-right: 15%"><%= @order.name %></span>
    </div>

    <div class="clearfix" style="margin-bottom: 20px;">
      <span style="padding-right: 5%;float:left;">手機</span>
      <span style="padding-right: 5%;float:left;width: 80px"><%= @order.phone %></span>
    </div>

    <div class="mobile-order" style="margin-bottom: 20px;">
      <span style="padding-right: 5%;float:left;">收件人地址</span>
      <span style="padding-right: 5%;float:left;width: 150px; margin-right: 15%"><%= @order.address %></span>
    </div>

    <div class="clearfix" style="margin-bottom: 20px;">
      <span style="padding-right: 5%;float:left;">付款金額</span>
      <span style="padding-right: 5%;float:left;width: 50px"><%= number_with_delimiter(@order.amount, :delimiter => ',') %></span>
    </div>
  </div>

  <hr style="width: 85%; margin-top: 10px">

  <div class="order-table" style="margin: 0px auto;">
    購買明細資料
    
    <% @items.each do |item| %>
      <div class="item-box">
        <%= image_tag item.product.item.main_image, class: "item-image", style: "margin-right: 10px;" %>

        <table class="item-table" style="font-size: 12px; margin-top: 10px">
          <tr>
            <td></td>
            <td style="font-size: 14px;"><%= item.product.item.name %></td>
          </tr>

          <tr>
            <td style="width:5%"></td>
            <td style="width:20%">尺寸</td>
            <td style="width:15%"><%= item.product.size %></td>
            <td style="width:30%"></td>
            <td style="width:15%">顏色</td>
            <td style="width:15%"><div class="colorbox" style="background-color: #<%= item.product.color %>;"></div></td>
            <td style="width:5%"></td>
          </tr>

          <tr>
            <td></td>
            <td>數量</td>
            <td><%= item.quantity %></td>
            <td></td>
            <td>單價</td>
            <td><%= number_with_delimiter(item.price, :delimiter => ',') %></td>
            <td></td>
          </tr>

          <tr style="border-top: 2px solid;">
            <td></td>
            <td style="color:#5f0ac7">小計</td>
            <td style="color:#5f0ac7"><%= number_with_delimiter(item.price * item.quantity, :delimiter => ',') %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        
      </div>
    <% end %>
  </div>

</div>
