<% tab "cart" %>

<div class="bg-box">
  <div class="only-mobile cart-banner">
    <span style="color: #ffffff;">付款方式</span>
  </div>

  <div class="mobile-none" style="">
    <%= image_tag "step-2.png", style: "width: 90%; margin-left: 5%; margin-bottom: 30px"%>
  </div>
  
  <div style="margin: 10px 30px;">
    <div style="margin-left: 20px; margin-right: 20px">
      <%= form_for @order do |f| %>

        <div class="field" style="margin-bottom: 20px;">
          信箱
          <span style="margin-left: 30px"><%= @user.email%></span>  
        </div>

        <div class="field" style="margin-bottom: 20px;">
          <span style="color: red; margin-left: -8px">*</span>
          聯絡人
          <%= f.text_field :name, style: "margin-left:14px; width: 35%", class: "form-style"%>
        </div>

        <div class="field" style="margin-bottom: 20px; float: left; margin-right: 15px">
          市話
          <%= f.text_field :telephone, style: "margin-left:25px; width: 35px", class: "form-style" %>-
          <%= f.text_field :telephone_2, style: "width: 70px", class: "form-style" %>-
          <%= f.text_field :telephone_3, style: "width: 50px;", class: "form-style" %>
        </div>

        <div class="field" style="margin-bottom: 20px;">
          <span style="color: red; margin-left: -8px">*</span>
          手機
          <%= f.text_field :phone, style: "margin-left:25px; width: 34%; margin-right: -20px", class: "form-style" %>
        </div>

        <div class="field" style="margin-bottom: 20px;">
          <span style="color: red; margin-left: -8px">*</span>
          地址
          <div id="twzipcode", class: "form-style" style="margin-left: -10px;float: right"></div>
          <script type="text/javascript">
            $('#twzipcode').twzipcode({
                'css': ['county', 'district', 'zipcode']
            });
            var target = $('#twzipcode').get();
            var result = $(target).twzipcode('data');
          </script>
          <%= f.text_field :address, placeholder: "請輸入地址",style: "width: 100%;margin-left:30px; margin-left: -5px", class: "form-style" %>
        </div>

        <div class="field" style="margin-bottom: 20px;">
          統一編號
          <%= f.text_field :tax_id, style: "margin-left:1px; width: 35%", class: "form-style" %>
        </div>
      </div>

      <hr style="margin-top: 40px;">

      <div class="clearfix">
        <div style="position: relative; margin-top: 10px; float: right;">

          <span>共&nbsp;<%= @items.pluck(:quantity).inject(:+) %>&nbsp;件商品</span> &nbsp;&nbsp;&nbsp;&nbsp;
          <span>商品金額&nbsp;&nbsp;&nbsp;&nbsp;$ <%= @total %></span>  

        </div>
      </div>

      <div class="clearfix" style="margin-top: 60px;margin-left: -30px; margin-bottom: 10px">

        <%= link_to cart_path do %>
          <button class="cart-button" style="float: left">←&nbsp;上一步</button>
        <% end %>
        
        <div style="float: right">
          <%= f.submit "確認送出", class: "order-submit"%>
        </div>
        
      </div>
      
    <% end %>
  </div> 
  
</div>
