<% tab "cart" %>

<div class="bg-box">
  <div class="only-mobile cart-banner">
    <span style="color: #ffffff;">購物車</span>
  </div>

  <div class="mobile-none" style="">
    <%= image_tag "step-1.png", style: "width: 90%; margin-left: 5%; margin-bottom: 15px"%>
  </div>
  
  <% if @items.empty? %>

    <div style="height: 280px; display: flex; align-items: center; justify-content: center;">
      <%= image_tag "cart-null.png", style: "height: 40%;"%>
    </div>

    <div style="text-align: center; margin-top: -10%; margin-bottom: 40px;">
      <span>您的購物車沒有商品</span><br>
      <%= link_to root_path do %>
        <button class="member-btn" style="background-color: #59544f; margin: 20px 0px; width: 120px;">去購物</button>
      <% end %>
    </div>

  <% else %>
    <% total = 0 %>
    <% @items.each do |item| %>
      <div style="margin: 10px 30px; border: 0.1px solid; border-color: #c1c0bc; line-height: 18px; height: 122px;">

        <%= link_to remove_from_cart_product_path(item.product), method: :post, remote: true do %>
          <button style="margin: 10px 10px;" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <% end %>

        <%= image_tag item.product.item.main_image, width: "80px", style: "margin: 8px 15px;" %>

        <div style="margin-left: 110px; margin-top: -110px; margin-bottom: -80px;">
          <div>
              <%= item.product.item.name %><br><br>

              <div style="margin-top: 6px; margin-bottom: 6px">
                尺寸&nbsp;&nbsp;<%= item.product.size %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;顏色&nbsp;
                <div class="colorbox" style="position: relative; top: -16px; left: 108px; background-color: #<%= item.product.color %>;"></div>
              </div>

              單價&nbsp;&nbsp;$<%= item.product.item.price %>
          </div>

          <div id=<%= item.product.stock %> >
            
            <span class="qty" style="color:#59544f">數量: <%= item.quantity %> </span>

          </div>
          
          <div style="margin-top: -155px; margin-left: 280px">
            <p>$&nbsp;<%= item.product.item.price * item.quantity %></p>
          </div>

        </div>

      </div>
      <% total = total + item.product.item.price * item.quantity %>
    <% end %>
    
    <div class="clearfix">
      <div style="position: relative; margin-top: 20px; margin-right: 30px; float: right;">

        <span>共&nbsp;<%= @items.pluck(:quantity).inject(:+) %>&nbsp;件商品</span> &nbsp;&nbsp;&nbsp;&nbsp;
        <span>商品金額&nbsp;&nbsp;&nbsp;&nbsp;$ <%= total %></span>  

      </div>
    </div>

    <div class="clearfix" style="margin-top: 60px;margin-right: 30px; margin-bottom: 10px">

      <%= link_to root_path do %>
        <button class="cart-button" style="float: left">←&nbsp;繼續購物</button>
      <% end %>

      <%= link_to order_detail_cart_path do %>
        <button class="cart-button" style="float: right; background-color: #9b3af6; color: #ffffff">結帳</button>
      <% end %>
      
    </div>

  <% end %>
</div>
  
<style>
  $(".close").click(function(){
    $(this).closest('div').hide();
  })
</style>