<% tab "cart" %>

<div class="bg-box">
  <div class="only-mobile cart-banner">
    <span style="color: #ffffff;">購物車</span>
  </div>

  <div class="mobile-none" style="">
    <%= image_tag "step-1.png", style: "width: 90%; margin-left: 5%; margin-bottom: 15px"%>
  </div>
  
  <% if @items.empty? %>

    <div style="height: 280px; display: flex; align-items: center; justify-content: center;">
      <%= image_tag "cart-null.png", style: "height: 40%;"%>
    </div>

    <div style="text-align: center; margin-top: -10%; margin-bottom: 40px;">
      <span>您的購物車沒有商品</span><br>
      <%= link_to root_path do %>
        <button class="member-btn" style="background-color: #59544f; margin: 20px 0px; width: 120px;">去購物</button>
      <% end %>
    </div>

  <% else %>
    <% total = 0 %>
    <% @items.each do |item| %>
      <div style="margin: 10px 30px; border: 0.1px solid; border-color: #c1c0bc; line-height: 18px; height: 122px;">

        <%= link_to remove_from_cart_product_path(item.product), method: :post, remote: true do %>
          <button style="margin: 10px 10px;" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <% end %>

        <%= image_tag item.product.item.main_image, width: "80px", style: "margin: 8px 15px;" %>

        <div class="cart-item" id=<%= item.product.id %> style="margin-left: 110px; margin-top: -110px; margin-bottom: -80px;">
          <div>
              <%= item.product.item.name %><br><br>

              <div style="margin-top: 6px; margin-bottom: 6px">
                尺寸&nbsp;&nbsp;<%= item.product.size %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;顏色&nbsp;
                <div class="colorbox" style="position: relative; top: -16px; left: 108px; background-color: #<%= item.product.color %>;"></div>
              </div>

              <span>單價&nbsp;&nbsp;$</span>
              <span class="item-price"><%= item.product.item.price %></span>  
          </div>

          <div id=<%= item.product.stock %> >
            
            <%= link_to adjust_item_product_path(item.product, type: "substract"), method: :post, remote: true do %>
              <input type='button' value='-' style="font-size:15px; color: #848378;" id='minus' class='qtyminus'/>
            <% end %>

            <input type='text' value=<%= item.quantity %> style='color:#59544f;' id='number' class='qty' />

            <%= link_to  adjust_item_product_path(item.product, type: "add"), method: :post, remote: true  do %>
              <input type='button' value='+' style="color: #848378;" id='plus' class='qtyplus'/>
            <% end %>

          </div>
          
          <div style="margin-top: -75px; margin-left: 280px">
            <span>$&nbsp;</span>
            <span class="item-total-price"><%= item.product.item.price * item.quantity %></span>
          </div>

        </div>

      </div>
      <% total = total + item.product.item.price * item.quantity %>
    <% end %>
    
    <div class="clearfix">
      <div style="position: relative; margin-top: 20px; margin-right: 30px; float: right;">

        <span>共&nbsp;</span>
        <span class="total-quantity"><%= @items.pluck(:quantity).inject(:+) %></span>
        <span>&nbsp;件商品 &nbsp;&nbsp;&nbsp;&nbsp;商品金額&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="total-price">$ <%= total %></span>  

      </div>
    </div>

    <div class="clearfix" style="margin-top: 60px;margin-right: 30px; margin-bottom: 10px">

      <%= link_to root_path do %>
        <button class="cart-button" style="float: left">←&nbsp;繼續購物</button>
      <% end %>

      <%= link_to order_detail_cart_path do %>
        <button class="cart-button" style="float: right; background-color: #9b3af6; color: #ffffff">結帳</button>
      <% end %>
      
    </div>

  <% end %>
</div>

<script type="text/javascript">
  var min = 1

  $('.qtyplus').click(function(e) {
    var currentVal = parseInt($(this).parent().prev('input').val());
    var max = parseInt($(this).closest('div').attr('id'));
    if (currentVal < max) {
      $(this).parent().prev('input').val(currentVal + 1);
      $(this).parent().parent().next().children('.item-total-price').text(parseInt($(this).parent().parent().prev().children('.item-price').text())*(currentVal+1));
    } else {
      $(this).parent().prev('input').val(max);
    }
  });
  
  $(".qtyminus").click(function(e) {
    var currentVal = parseInt($(this).parent().next('input').val());
    var max = parseInt($(this).closest('div').attr('id'));
    if (currentVal > min) {
      $(this).parent().next('input').val(currentVal - 1);
      $(this).parent().parent().next().children('.item-total-price').text(parseInt($(this).parent().parent().prev().children('.item-price').text())*(currentVal-1));
    } else {
      $(this).parent().next('input').val(min);
    }
  });

  $("#number").blur(function(e){
    var currentVal = parseInt($(this).closest('input').val());
    var max = parseInt($(this).closest('div').attr('id'));
    if (currentVal < min || isNaN(currentVal)) {
      $(this).val(min);
      $(this).parent().next().children('.item-total-price').text(parseInt($(this).parent().prev().children('.item-price').text())*min);
    } else if(currentVal > max) {
      $(this).val(max);
      $(this).parent().next().children('.item-total-price').text(parseInt($(this).parent().prev().children('.item-price').text())*max);
    } else {
      $(this).parent().next().children('.item-total-price').text(parseInt($(this).parent().prev().children('.item-price').text())*currentVal);
    }
    $.ajax({
      url: '/products/' + $(this).parent().parent().attr('id') + '/adjust_item',
      method: 'POST',
      dataType: "text",
      data:{
        number: parseInt($(this).closest('input').val())
      }
    });
  });
  
  $(".close").click(function(){
    if($('.cart-item:visible').length - 1 == 0){
      window.location.reload(false); 
    }
    $(this).closest('div').hide();
  })
  
</script>