<div class="container">
  <div class="row">
    <%= link_to "Back", ajion2596dhi_users_path %>
    <br>
    <% if @user.errors.any? %>
      <h4>We have some errors here!</h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
      <hr>
    <% end %>


    <%= form_for [:ajion2596dhi, @user] do |f| %>
      <div class="form-group">
        <%= f.label :role, "Role" %>
        <%= f.select :role, options_for_select([['normal', 'normal'], ['seller', 'seller'], ['admin', 'admin']], @user.role), {prompt: "select role"}, {:class => 'form-control' } %>
      </div>

      <div class="form-group">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, "Email" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :confirmed_at, "confirmed" %>
        <%= f.select :confirmed_at, options_for_select([['OK', "2018-10-10"], ['none', nil]], @user.confirmed_at), {prompt: "change confiremd"}, {:class => 'form-control' } %>
      </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-primary"%>
      </div>
    <% end %>

  </div>
</div>