<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125038018-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125038018-1');
    </script>

    <title>茄子切貨網</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <div class="overlay"></div>

    <!-- banner -->
    <nav class="navbar navbar-default navbar-expand-lg" style="background:#fff;">

      <div class="container-fluid">
        
        <!-- computer nav-->
        <%= link_to root_path, class: "navbar-brand" do %>
          <div class="clearfix inline-block">
            <%= image_tag "logo", size: "120x37" %>
          </div>
        <% end %>

        <% if current_user %>
          <ul class="nav navbar-nav navbar-left">
            
            <li>
              <% if @page_tab == 'man' %>
                <%= link_to "MAN", man_categories_path, style: 'color:#5f0ac7' %>
              <% else %>
                <%= link_to "MAN", man_categories_path %>
              <% end %>
            </li>

            <li>
              <% if @page_tab == 'woman' %>
                <%= link_to "WOMAN", woman_categories_path, style: 'color:#5f0ac7' %>
              <% else %>
                <%= link_to "WOMAN", woman_categories_path %>
              <% end %>
            </li>

            <li>
              <% if @page_tab == 'kids' %>
                <%= link_to "KIDS", kid_categories_path, style: 'color:#5f0ac7' %>
              <% else %>
                <%= link_to "KIDS", kid_categories_path %>
              <% end %>
            </li>

            <li>
              <% if @page_tab == 'baby' %>
                <%= link_to "BABY", baby_categories_path, style: 'color:#5f0ac7' %>
              <% else %>
                <%= link_to "BABY", baby_categories_path %>
              <% end %>
            </li>

          </ul>
        <% end %>

        <!-- computer nav right -->
        <ul class="pull-right text-right nav navbar-nav">
          <% if current_user %>

            <% if current_user.admin? %>
              <li><%= link_to 'back', ajion2596dhi_root_path %></li>
            <% end %>

            <li><%= link_to('log out', destroy_user_session_path, method: :delete) %></li>

            <li>
              <input id="search" type="text" name="search" maxlength="50" size="13" value>
              <button id="search-icon" class="btn" style="background:#fff; color:#59544f;" type="button">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
            </li>
            
            <li>
              <%= link_to cart_path do %>
                <%= image_tag "cart", size: "15x15"%>
              <% end %>
            </li>

            <li>
              <%= link_to users_path do %>
                <%= image_tag "member", width: "14"%>
              <% end %>
            </li>

          <% else %>

            <li><%= link_to('註冊', new_user_registration_path)%></li>
            <li><%= link_to('登入', new_user_session_path) %></li>

          <% end %>
        </ul>
      </div>
    </nav>

    <div id="web-head" class="clearfix"></div>
    
    <% if current_user %>

      <% unless @page_tab == 'cart' || @page_tab == 'member' %>

        <div id="phone-head" class="clearfix"></div>

        <div class="phone-head container-fluid clearfix">
          <div class="row">
            <!-- search bar -->
            <div id="custom-search-input">
              <br>

              <div class="input-group">
                <input type="text" style="border-right:none; border-color:#ddd;" class="form-control input-lg" placeholder="Search" />
                <span class="input-group-btn">
                  <button class="btn btn-info btn-lg" style="background:#fff; color:#59544f; border-left:none; border-color:#ddd;" type="button">
                      <i class="glyphicon glyphicon-search"></i>
                  </button>
                </span>
              </div>

            </div>
          </div>

          <!--Nav-->
          <% unless @page_tab == 'category'  %>

            <div class="phone-nav clearfix">
              <div class="row">

                <ul class="nav nav-justified">
                  <li role="presentation">
                    <% if @page_tab == 'index' %>
                      <%= link_to 'HOME', root_path, style: 'color:#5f0ac7' %>
                    <% else %>
                      <%= link_to "HOME", root_path, class: 'link' %>
                    <% end %>
                  </li>

                  <li role="presentation">
                    <% if @page_tab == 'man' %>
                      <%= link_to "MAN", man_categories_path, style: 'color:#5f0ac7' %>
                    <% else %>
                      <%= link_to "MAN", man_categories_path, :class => 'link' %>
                    <% end %>
                  </li>

                  <li role="presentation">
                    <% if @page_tab == 'woman' %>
                      <%= link_to "WOMAN", woman_categories_path, style: 'color:#5f0ac7' %>
                    <% else %>
                      <%= link_to "WOMAN", woman_categories_path, :class => 'link' %>
                    <% end %>
                  </li>

                  <li role="presentation">
                    <% if @page_tab == 'kids' %>
                      <%= link_to "KIDS", kid_categories_path, style: 'color:#5f0ac7' %>
                    <% else %>
                      <%= link_to "KIDS", kid_categories_path, :class => 'link' %>
                    <% end %>
                  </li>

                  <li role="presentation">
                    <% if @page_tab == 'baby' %>
                      <%= link_to "BABY", baby_categories_path, style: 'color:#5f0ac7' %>
                    <% else %>
                      <%= link_to "BABY", baby_categories_path, :class => 'link' %>
                    <% end %>
                  </li>

                </ul>
              <% end %>

              </div>
            </div>
            
          </div>
        <% end %>
      <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>

    <br>
    
    <% if current_user %>
      <footer class="page-footer font-small">
        <!-- Contact -->
        <section>
          <p style="text-align:center">
              <a href="#"><span class="footer">關於品牌</span></a>
              <a href="#"><span class="footer">聯絡我們</span></a>
              <a href="#"><span class="footer">購物須知</span></a>

              <br><br>
              <span class="copyright">2018 &copy; EGGPLANT ALL RIGHTS RESERVED</span>
          </p>
        </section>
      </footer>
    
      <div class="phone-fix fixed">
        <div class="container-fluid">
          <div class="row">

            <ul class="nav nav-justified" role="tablist">

              <li role="presentation">
                <%= link_to root_path do %>
                  <% if @page_tab == "index" %>
                    <%= image_tag "index-click.png", width: "40px" %>
                  <% else %>
                    <%= image_tag "index.png", width: "18px" %>
                  <% end %>
                <% end %>
              </li>

              <li role="presentation">
                <%= link_to root_path do %>
                  <% if @page_tab == "category" %>
                    <%= image_tag "category-click.png", width: "40px" %>
                  <% else %>
                    <%= image_tag "category.png", width: "18px" %>
                  <% end %>
                <% end %>
              </li>

              <li role="presentation">
                <%= link_to cart_path do %>
                  <% if @page_tab == "cart" %>
                    <%= image_tag "cart-click.png", width: "40px" %>
                  <% else %>
                    <%= image_tag "cart.png", width: "20px" %>
                  <% end %>
                <% end %>
              </li>

              <li role="presentation">
                <%= link_to root_path do %>
                  <% if @page_tab == "member" %>
                    <%= image_tag "member-click.png", width: "40px" %>
                  <% else %>
                    <%= image_tag "member.png", width: "17px" %>
                  <% end %>
                <% end %>
              </li>

            </ul>

          </div>
        </div>
      </div>
    <% end %>

  </body>
</html>
