<!DOCTYPE html>
<html>
  <head>
    <title>茄子切貨網</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- banner -->
    <nav class="navbar navbar-default navbar-expand-lg" style="background:#fff;">

    <div class="container-fluid">
      
        <!-- Brand and toggle get grouped for better mobile display -->
        <%= link_to root_path, class: "navbar-brand" do %>
          <div class="clearfix inline-block">
            <%= image_tag "logo.jpg", size: "150x50" %>
          </div>
        <% end %>

        

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="pull-right text-right nav navbar-nav">
          <% if current_user %>
            <% if current_user.admin? %>
              <li><%= link_to 'Admin back', ajion2596dhi_root_path %></li>
            <% end %>

            <li><%= link_to('log out', destroy_user_session_path, method: :delete) %></li>

            <li>
              <%= link_to root_path do %>
                <span id="search-icon" class="glyphicon glyphicon-search"></span>
              <% end %>
            </li>
            
            <li>
              <%= link_to root_path do %>
                <%= image_tag "cart.png", size: "15x15"%>
              <% end %>
            </li>

            <li>
              <%= link_to root_path do %>
                <%= image_tag "member.png", size: "15x15"%>
              <% end %>
            </li>

          <% else %>
            <li><%= link_to('registrate', new_user_registration_path)%></li>
            <li><%= link_to('log in', new_user_session_path) %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% if flash[:notice] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      </div>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      </div>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
